.circular-progress {
  position: relative;
  background: conic-gradient(var(--bg-color) 220deg, var(--bg-color) 0deg);
  height: 6rem;
  width: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.2s ease;
  outline: 0.0625rem solid var(--zinc-800);
}
.circular-progress::before {
  content: "";
  position: absolute;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background-color: var(--zinc-900);
}
.progress-value {
  font-size: 1.3rem;
  position: relative;
  color: var(--zinc-100);
}
.clock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.buttons {
  display: flex;
  gap: 1em;
  &__btn {
    padding: 0.3em 1em;
    border-radius: 0.5em;
    border: 0.0625rem solid var(--zinc-800);
    cursor: pointer;
  }
}
