<div class="clock">
  <div
    class="circular-progress"
    [ngStyle]="{
      background: 'conic-gradient(#84CC16 ' + grados + 'deg, #18181b 0deg)'
    }"
  >
    <div class="progress-value">
      {{ timeLeft * 1000 | date : "mm:ss" }}
    </div>
  </div>

  <div class="buttons">
    @if (isFocus) {
    <button class="buttons__btn" (click)="pauseTimer()">Pause</button>

    } @else {

    <button
      class="buttons__btn"
      [disabled]="workTime === 0"
      [ngClass]="{ disabled: workTime === 0 }"
      (click)="startTimer()"
    >
      Start
    </button>

    }
    <button class="buttons__btn" (click)="resetTimer()">Reset</button>
  </div>
</div>
