.container {
  position: relative;
  overflow: hidden;
}
.edit {
  width: 1.5em;
  color: var(--zinc-400);
}
.btn-open {
  cursor: pointer;
  margin-left: auto;
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.2);
  }
}
.btn-close {
  position: absolute;
  top: 0;
  right: 0.1em;
  cursor: pointer;
}
.form-container {
  position: absolute;
  padding: 1em;
  width: 100%;
  height: 100%;
  background: linear-gradient(145deg, #161618, #1a1a1d);
  box-shadow: 5px 5px 10px #141417, -5px -5px 10px #1c1c1f;

  top: -110%;
  background-color: var(--zinc-900);
  z-index: 1;
  transition: top 0.3s ease-in-out;

  display: flex;
  align-items: center;
  justify-content: center;
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 1em;
  &__settings {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    justify-items: center;
    gap: 1em;
    justify-content: center;
  }
  &__setting {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
  }
  &__label {
    font-size: 0.875em;
    color: var(--zinc-400);
  }
  &__input {
    border: 2px solid transparent;

    padding: 0.2em 0.5em;

    border-radius: 0.3em;

    box-shadow: 3px 3px 10px #141417, -1px -1px 6px #1c1c1f;

    &:focus-visible {
      border: 2px solid transparent;

      box-shadow: 4px 4px 11px #1c1c1f, -2px -2px 7px var(--zinc-800),
        inset 4px 4px 11px #141417, inset -2px -2px 7px var(--zinc-800);
    }
  }

  &__input:focus-visible {
    outline: none;
  }

  &__submit {
    padding: 0.4em 0.8em;
    border-radius: 0.3em;
    box-shadow: 4px 4px 9px #141417, -4px -4px 9px #1c1c1f;
    cursor: pointer;
  }
  &__error {
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    color: red;
  }
}
.form--open {
  top: 0;
  transition: top 0.3s ease-in-out;
}
.work-status {
  padding: 1em;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}
