.break {
  color: var(--zinc-400);

  padding: 0.2em 0.5em;
  border-radius: 0.3em;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  background-color: rgba(6, 182, 212, 0.1);
  outline: 0.0625rem solid #06b6d4;

  &__icon {
    width: 1em;
  }
}
