.status {
  padding: 1em;
  display: flex;
  flex-direction: column;
  row-gap: 0.8em;

  &__content {
    display: flex;
    justify-content: space-between;
  }
  &__icon {
    width: 1em;
  }
  &__mode {
    font-weight: 600;
    color: var(--zinc-400);
  }
}
